<h1>Form 3</h1>


<form action="/dashboard/submit/form3" method="POST">
    <div class="form-group">
        <label for="comments">Comments:</label>
        <textarea id="comments" name="comments"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit Form 3</button>
</form>